<html>
  <head></head>
  <body>
    <form>
      <input type='text' name='question'/>
      <input type='submit' name='Submit'>
    </form>
    <p>
      You wanted to know Jeopardy answers for: <h3> <%= question %> </h3>
    </p>
    <p>
      <%= answer %>
    </p>
  </body>
</html>